body {
	background-image: url("");
	background-size: cover;
}
#ready {
	text-align: center;
}
.start {
	position: absolute;
    top: 50%;
    margin: 0 auto;
    width: 200px;
    padding: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.player, .enemies, .fight, .defender {
	font-size: 15px;
}

.rules {
   position: fixed;
   right: 20px;
   top: 300px;
   padding: 15px;
   overflow: auto;
}

.attack {
	color: black;
	border-radius: 4px;
}


