.game-container {
    margin-top: 30px;
}
.message {
    display: none;
}
.crystals-container {
    padding: 40px 0;
}
.crystal{
    cursor: pointer;
}

/* Animations */
.smaller {
    margin: 0 0 0 20px;
    width: 45px;
}
.crystal-move {
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: -1;
}
.crystal-move img{
  transition: opacity .3s ease-out;
}

.play{
  transition:all .5s ease-out;
  -webkit-animation-name: position;
  -webkit-animation-duration: 700ms;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: position;
  -moz-animation-duration: 700ms;
  -moz-animation-timing-function: linear;
  -ms-animation-name: position;
  -ms-animation-duration: 700ms;
  -ms-animation-timing-function: linear;
  animation-name: position;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.play img{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    from{-moz-transform:rotate3d(0, 1, 0, 0deg);}
    to{-moz-transform:rotate3d(0, 1, 0, 360deg);}
}
@-webkit-keyframes spin {
    from{-webkit-transform:rotate3d(0, 1, 0, 0deg);}
    to{-webkit-transform:rotate3d(0, 1, 0, 360deg);}
}
@keyframes spin {
    from{transform:rotate3d(0, 1, 0, 0deg);}
    to{transform:rotate3d(0, 1, 0, 360deg);}
}

@-moz-keyframes position {
    10% { margin-top:-60px; opacity:0;}
    25% { margin-top:-80px; opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-150px; opacity:0;}
}
@-webkit-keyframes position {
    10% { margin-top:-60px; opacity:0;}
    25% { margin-top:-80px; opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-150px; opacity:0;}
}
@keyframes position {
    10% { margin-top:-60px; opacity:0;}
    25% { margin-top:-80px; opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-150px; opacity:0;}
}

